body
{
    font-family: arial;
}

header
{
    text-align:center;
    color: rgb(89, 97, 104);
}

nav
{
    text-align:center;
    background-color:rgb(1, 1, 94);
    color:white;
}
nav ul li
{
    display:inline-block;
    margin:20px;
}
nav ul li:hover
{
    color:rgb(200, 200, 200);
}
#current
{
    color:rgb(1, 187, 81);
}
#current:hover
{
    color: rgb(0, 154, 67);
}
footer
{
    width:100%;
    height:200px;
    position:relative;
    top:75%;
    background-color:rgb(1, 1, 94);
    color:white;
}
footer ul li
{
    display:inline-block;
    margin:20px;
}
footer ul li:hover
{
    color:rgb(200, 200, 200);
}
ul
{
    cursor:pointer;
}
main
{
    text-align:center;
}
main p
{
    text-align:center;
    margin-left:25%;
    margin-right:25%;
    font-size:125%;
}
main ol
{
    text-align: left;
    margin-left:25%;
    margin-right:25%;
    font-size:125%;
}
img
{
    width:600px;
    height:300px;
}

main table
{
    position: relative;
    left: 10%;
    right: 10%;
}
#root button
{
    width: 35px;
    height: 35px;
    background-color:white;
    border:1px solid black;
    cursor:pointer;
}
#root button:hover
{
    background-color:rgb(200, 200, 200);
}
#buttons button
{
    width:70px;
    height:25px;
    font-size:100%;
    margin:10px;
    color:white;
    border:none;
    border-radius:10px;
    cursor:pointer;
}
#startButton
{
    background-color:greenyellow;
}
#finishButton
{
    background-color:red;
}
#wallButton
{
    background-color:black;
}
#runButton, #stopButton, #resetButton, #resumeButton
{
    color:black !important;
    background-color:rgb(200, 200, 200);
}
@keyframes anGreen
{
    from
    {
        background-color: yellow;
        border-radius: 50% 50%;
        transform:  scale(0.2);
    }

    to 
    {
        background-color:yellowgreen;
        border-radius: 0% 0%;
        transform:  scale(1);
    }
}
@keyframes anRed
{
    from
    {
        background-color: yellow;
        border-radius: 50% 50%;
        transform:  scale(0.2);
    }

    to 
    {
        background-color:red;
        border-radius: 0% 0%;
        transform:  scale(1);
    }
}
@keyframes anBlack
{
    from
    {
        background-color: yellow;
        border-radius: 50% 50%;
        transform:  scale(0.2);
    }

    to 
    {
        background-color:black;
        border-radius: 0% 0%;
        transform:  scale(1);
    }
}
@keyframes anYellow
{
    from
    {
        background-color: cyan;
        border-radius: 50% 50%;
        transform:  scale(0.2);
    }

    to 
    {
        background-color: yellow;
        border-radius: 0% 0%;
        transform:  scale(1);
    }
}